@font-face{
	font-family: pixchicago;
	src: url(assets/fonts/pixChicago.ttf);
}

body{
    background-color: #5e6654;
    color: #afafaf;
    text-align: center;
    font-family: pixchicago;
}

img{
    width: 18%;
    border-color: greenyellow;
}

button{
    font-size: 50px;
    font-family: pixchicago;
    border-radius: 5px;
    background-color: rgb(196, 196, 196);
    color: rgb(31, 72, 33);
    padding: 10px;
}

select{
    font-size: 50px;
    font-family: pixchicago;
    border-radius: 5px;
    background-color: rgb(196, 196, 196);
    color: rgb(31, 72, 33);
    padding: 10px;
}
